# This config file is used by ros2_control
controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    tmr_arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController


    robotiq_gripper_controller:
      # type: position_controllers/GripperActionController
      type: gripper_force_controller::GripperForceController


    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    force_sensor_broadcaster:
      type: force_torque_sensor_broadcaster/ForceTorqueSensorBroadcaster

    admittance_controller:
      type: admittance_controller/AdmittanceController

tmr_arm_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    allow_nonzero_velocity_at_trajectory_end: true

robotiq_gripper_controller:
  ros__parameters:
    joint: robotiq_85_left_knuckle_joint
    # joints: 
    #   - robotiq_85_left_knuckle_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    allow_nonzero_velocity_at_trajectory_end: true
    # --- 力控制參數 (GripperForceController) ---
    # 這些參數會被你的 C++ 控制器讀取
    force_topic: "/arduino/force"
    force_index: 2  # 0:F1, 1:F2, 2:Avg

    # FSM 參數
    approach_speed_rad_s: -0.2  # 接近速度 (rad/s), 負值表示關閉
    contact_threshold_g: 250.0   # 接觸力道閾值 (g)
    backoff_dist_rad: 0.05       # 接觸後退讓距離 (rad)

    # PI 控制器參數
    force_target_g: 200.0        # 目標夾持力 (g)
    kp: 0.001                    # P gain
    ki: 0.0005                   # I gain
    deadband_g: 50.0             # 力控死區 (g)

admittance_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6
    command_interfaces:
      - position
      - velocity
    state_interfaces:
      - position
    # --- 力/力矩感測器設定 ---
    ft_sensor_name: ft_sensor
    use_joint_commands_as_input: true
    joint_limiter_type: "joint_limiter/SimpleJointLimiter"

    state_publisher_rate: 100  # Hz
    action_monitor_rate: 20  # Hz
   
    allow_partial_joints_goal: false
    open_loop_control: false
    allow_integration_in_goal_trajectories: false
    constraints:
      stopped_velocity_tolerance: 0.05
      goal_time: 0.0
    IK:
      base: "base"
      tip: "robotiq_tcp"
      group_name: "tmr_arm"

    endeffector_frame: "robotiq_tcp"
    control_frame: "base"
    fixed_world_frame: "world"
    sensor_frame: "ft_sensor"

    admittance:
      selected_axes:
        x: true
        y: true
        z: true
        rx: true
        ry: true
        rz: true

    mass:
      x: 0.5
      y: 0.5
      z: 0.5
      rx: 0.1
      ry: 0.1
      rz: 0.1 # kg, kg*m^2
    damping:
      x: 0.1
      y: 0.1 
      z: 0.1
      rx: 0.1
      ry: 0.1
      rz: 0.1 # Nm
    stiffness:
      x: 100.0
      y: 100.0
      z: 100.0
      rx: 10.0
      ry: 10.0
      rz: 10.0 # N/m, Nm/rad
