<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tm5-900">

  <xacro:arg name="ns" default="" />
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="color" default="none" />
  <xacro:arg name="trans_hw_iface" default="hardware_interface/PositionJointInterface" />

  <xacro:include filename="$(find tm_description)/xacro/macro.gazebo.xacro" />
  <xacro:include filename="$(find tm_description)/xacro/macro.transmission.xacro" />
  <xacro:include filename="$(find tm_description)/xacro/macro.materials.xacro" />
  <xacro:include filename="$(find tm_description)/xacro/camera_d435i.xacro" />


  <!-- tm5-900 -->
  <!-- If the user want to use newly generated named robot description file as user_defined.urdf.xacro, -->
  <!-- you must modify 'macro.tm5-900-nominal.urdf.xacro' to 'user_defined.urdf.xacro'  -->
  <xacro:include filename="$(find tm_description)/xacro/macro.tm5-900-nominal.urdf.xacro" />
  <!-- <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" /> -->
  <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_ft300.urdf.xacro" />
  <xacro:include filename="$(find robotiq_ft_sensor_description)/urdf/robotiq_fts.ros2_control.xacro" />
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro" />



  <!-- === 2. 掛 Realsense D435 === -->
  <!-- <xacro:sensor_d435 -->
      <!-- parent="flange" -->
      <!-- name="camera" -->
      <!-- > -->
      <!-- <origin xyz="0.017199 -0.087010 0.061819" rpy="2.9423 -1.5443 1.7723"/> -->
  <!-- </xacro:sensor_d435> -->

  <!-- === 3. 掛 力覺感測器 (Force Torque Sensor) === -->
  <!-- Robotiq FT300 mounted at TM5 flange -->
  <xacro:robotiq_ft300
      parent="flange"
      tf_prefix="">
    <origin xyz="0 0 -0.003" rpy="0 0 0"/>
  </xacro:robotiq_ft300>


  <!-- === 4. 掛 Robotiq 2F-85 === -->
  <xacro:robotiq_gripper
      parent="robotiq_ft_frame_id"
      prefix=""
      name="robotiq_2f85"
      use_fake_hardware="true"
      >           
    <origin xyz="0 0 0.0" rpy="0 0 ${pi/2}"/>
  </xacro:robotiq_gripper>

  <link name="tcp"/>
   <joint name="robotiq_tcp_joint" type="fixed">
     <parent link="flange"/>
     <child link="tcp"/>
     <!-- <origin xyz="-0.001814 0.032587 0.197883" rpy="-0.001885 0.000590 0.003866"/> -->
     <!-- <origin xyz="-0.0093 0.0315 0.1964" rpy="0 0 0"/> -->
     <!-- <origin xyz="-0.0035 0.03106 0.19631" rpy="0 0 0"/> -->
     <!-- <origin xyz="-0.0095 0.01961 0.28455" rpy="0 0 0"/> -->
     <!-- <origin xyz="-0.01428 -0.000161 0.21794" rpy="0 0 0"/> -->
     <origin xyz="-0.00314 0.01973 0.21463" rpy="0 0 0"/>
   </joint>


  <!--  -->
  <xacro:tmr_gazebo ns="$(arg ns)" prefix="$(arg prefix)" />
  <xacro:tmr_transmission prefix="$(arg prefix)" hw_iface="$(arg trans_hw_iface)" />
  <xacro:tmr_materials/>


  <!-- Arm -->
  <xacro:property name="color" value="$(arg color)"/>
  <xacro:if value="${color == 'none'}">
    <xacro:tm5-900 ns="$(arg ns)" prefix="$(arg prefix)" />
  </xacro:if>


  <!-- Arm.color.stl -->
  <xacro:unless value="${color == 'none'}">
    <xacro:tm5-900 ns="$(arg ns)" prefix="$(arg prefix)" color="${color}" format="stl" />
  </xacro:unless>


</robot>
